:root {
  --primary-color: black;
  --secondary-color: white;
  --logo-bg-color: #f0f8ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #67626f;
  background-color: #f5fcff;

}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.top-header-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 33px;
  padding-left: 31px;
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 1000;
  top: 0;
  background-color: #ffffff;
}

.nav-top {
  display: none;
  text-align: right;
  background-color: black;
  padding: 8px 0;
  width: 100%;
  height: auto;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 80%;
  max-width: 400px;
  height: 100%;
  background-color: white;
  transition: left 0.6s ease;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.mobile-menu.active {
  left: 0;
}

.mobile-menu .menu-header {
  padding: 20px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu .close-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu .menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu .menu-items li {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.mobile-menu .menu-items a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  display: block;
  font-size: 1.125rem;
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.menu-overlay.active {
  display: block;
}

.top-header-container {
  max-width: 1216px;
  margin: auto;
}

.top-menu {
  gap: 20px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding-right: 20px;
}

.top-menu li {
  display: flex;
  align-items: center;
}

.top-menu a {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
}

.top-menu img {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 30%;
}

.logo {
  width: 115px;
  height: 49;
}

.button-menu {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  padding-right: 15px;
  color: #858691;
}

.button-menu::after {
  content: "⋮";
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
}

.section-1 {
  width: 100%;
  background-color: #e6f6fe;
  padding: 48px 20px;
  font-weight: 400;
  font-size: 18px;
  color: rgb(103 98 111/1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 99.5px;
  padding-top: 120px;
}

.title-section {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  color: rgb(0 40 99/1);
}

.paragraph-section {
  text-align: center;
  margin-bottom: 3px;
  font-weight: 400;
}

.dynamic-text-container {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

#dynamic-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #67626f;
  animation: blink-caret 0.75s step-end infinite;
  font-size: 19px;
  color: #67626f;
  min-height: 30px;
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #67626f;
  }
}

.section-search {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 100px;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 12px 64px rgba(0, 0, 0, 0.05);
  margin-top: -85px;
  margin-left: 32px;
  margin-right: 32px;
  position: relative;
  z-index: 2;
  height: 343px;
}

.container-search {
  height: min-content;
}

.container-price {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 3px;
}

.paragraph-section2 {
  font-weight: 500;
  color: rgb(0 40 99/1);
  font-size: 24px;
}

.container-price .price {
  font-size: 36px;
  font-weight: 600;
  color: rgb(80 192 249/1);
}

.container-inform {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-placa {
  padding: 1rem;
  width: 224px;
  font-size: 15px;
}

.informe-ejemplo {
  font-size: 12px;
  color: rgb(80 192 249/1);
  text-decoration: none;
  border: 1px solid #dee2e6;
  text-align: center;
  padding: 10px;
  margin: auto;
  border-radius: 6px;
}

.button-informe {
  background-color: rgb(255 120 67/1);
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: none;
  border: none;
  font-size: 15px;
}

.container-history {
  max-width: 1216px;
  margin: auto;
  padding: 2rem;
  margin-top: 60px;
  padding-bottom: 80px;
}

.paragraph-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-weight: 400;
}

.history-paragraph {
  font-size: 14px;
  margin-top: 7px;
}

.grid {
  padding: 1rem;
}

.paragraph-history-title {
  color: rgb(0 40 99/1);
  font-size: 22px;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 10px;
  font-size: 12px;
  color: rgb(0 40 99/1);
  margin-top: 80px;
}

.container-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  background-color: #fefefe;
  padding: 10px;
  width: 150px;
  height: 150px;
  gap: 6px;
}

.container-item img {
  max-width: 100%;
  height: 48px;
}

.informe-muestra {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.informe {
  text-decoration: none;
  color: rgb(80 192 249/1);
  font-size: 18px;
}

.container-steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
  padding: 0 34px 80px;
}

.container-steps-title {
  font-size: 22px;
  color: #002762;
}

.container-steps h3 {
  font-weight: 600;
  color: rgb(0 40 99/1);
  margin-bottom: 1.5rem;
}


.container-step {
  display: flex;
  gap: 30px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
}

.container-step p {
  color: rgb(103 98 111/1);
  font-size: 16px;
}

/* Contenedor general */
.container-clients {
  width: 100%;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

/* Título de la sección */
.clients {
  font-size: 24px;
  color: #002863;
  margin-bottom: 10px;
}

/* Tarjetas de testimonios */
.testimonial-card {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 435px;
  width: 271PX;
  box-shadow: none;
}

.name {
  font-size: 18px;
  color: #FFA801;
  margin: 0;
}

.role {
  font-size: 16px;
  color: #002863;
  font-style: italic;
  margin: 0;
}

.feedback {
  font-size: 14px;
  color: #67626F;
  text-align: justify;
  margin-top: 10px;
}

/* Swiper Slide */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Botones de navegación */
.swiper-button-prev,
.swiper-button-next {
  color: #002863;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  z-index: 1;
  padding: 0 110px 80px 0;
}

.section-search2 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 100px;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 12px 64px rgba(0, 0, 0, 0.05);
  margin-left: 32px;
  margin-right: 32px;
  z-index: 2;
  height: 414px;
  margin-top: 60px;
}

.section-search2 p {
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}


.footer {
  background-image: url(../images/footer_res.png);
  height: 647px;
  width: 100%;
  padding-top: 90px;
  margin-top: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 32px;
  color: #212529;
}

.container-width {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo img {
  max-width: 150px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #5E9ECB;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #1A395E;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links a {
  color: #212529;
  text-decoration: none;
  display: block;
  margin: 5px 0;
  transition: color 0.3s;
  font-size: 14px;
}

.footer-links a:hover {
  color: #1A395E;
}

.payment-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-top: 1px solid #5E9ECB;
  padding-top: 40px;
  margin-top: 20px;
}

.payment-methods {
  display: flex;
}

.payment-methods img {
  max-width: 50px;
  margin-right: 10px;
}

.footer-h3 {
  font-size: 16px;
  font-weight: 600;
  color: #002863;
  line-height: normal;
}

.payment-security {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.swiper-buttons {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.footer-links li a{
  padding-left: 0;
}

/* Diseño responsivo */
@media (max-width: 768px) {
  .testimonial-card {
    min-height: 150px;
  }

  .clients {
    font-size: 20px;
  }

  .feedback {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .testimonial-card {
    padding: 1.5rem;
  }

  .clients {
    font-size: 21px;
  }

  .name {
    font-size: 16px;
  }

  .role {
    font-size: 14px;
  }

  .feedback {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: white;
  color: black;
}

.previous {
  background-color: #50c0f9;
  color: white;
}

.next {
  background-color: #50c0f9;
  color: white;
}

.round {
  border-radius: 50%;
}

.image-step {
  width: 168px;
  height: 168px;
  border-radius: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .top-header-box {
    padding-right: 50px;
    padding-left: 50px;
  }

  .container-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .container-item {
    width: 180px;
    height: 180px;
  }

  .section-1 {
    padding: 80px 40px;
  }

  .container-step {
    flex-direction: row;
    padding: 20px;
  }

  .section-search,
  .section-search2 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .testimonial-card {
    height: 400px;
    width: 250px;
  }

  .swiper-buttons {
    display: flex;
    gap: 10px;
  }

  .section-search2 {
    display: flex;
    flex-direction: row;
    padding: 50px;
  }

  .section-search2 img {
    width: 100%;
    height: auto;
  }

  .clients-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .swiper-buttons {
    display: flex;
  }

  .container-pasos {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .container-step {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 216px;
    height: 381px;
  }

  .container-steps-title {
    font-size: 36px;
    color: rgb(0 40 99/1);
  }

  .paragraph-history-title {
    font-size: 36px;
    font-weight: 600;
  }

  .history-paragraph {
    font-size: 18px;
    color: rgb(103 98 111/1);
  }

  .section-search {
    margin-top: -50px;
  }

  .container-inform {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
  }

}





/*MEDIA QUERY*/
@media (min-width: 960px) {
  .nav-fixed {
    width: 100%;
    z-index: 99;
    position: relative;
  }

  .top-header-box {
    display: block;
    padding: 0;
    margin: 0;
  }

  .nav-top {
    display: block;
  }

  .menu-button {
    display: none;
  }

  .mobile-menu,
  .menu-overlay {
    display: none !important;
  }

  .menu {
    display: none;
  }

  .section-search2 {
    display: flex;
    flex-direction: row;
    padding: 50px;
  }

  .section-search,
  .section-search2 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .section-search2 {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .section-search {
    max-width: 1200px;
    margin: -80px auto 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 150px;
  }

  .container-inform {
    display: flex;
    flex-direction: row;
  }

  .container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
  }

  .grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .container-item:hover {
    background-color: hsl(200, 92%, 65%);
  }

  .history-paragraph {
    font-size: 18px;
  }

  .paragraph-history-title {
    font-weight: 600;
    font-size: 28px;
  }

  .container-steps {
    max-width: 1200px;
    margin: 0 auto;
  }

  .container-step {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 288px;
    height: 451px;

  }

  .container-pasos {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .container-steps-title {
    font-size: 36px;
  }

  .header-logo {
    height: 70px;
    background-color: #ffffff;
  }

  .container-logo {
    max-width: 1200px;
    padding-top: 12px;
    justify-content: center;
    margin: 0 auto;
  }

  .title-section {
    padding-top: 30px;
    font-size: 48px;
  }

  .top-menu li a {
    background-color: transparent;
    transition: background-color 0.3s;
  }

  .top-menu li a:hover {
    background-color: transparent;
    color: white;
  }

  .footer-links li a{
    padding-left: 0;
  }

  .footer-links li a:hover{
    background-color: transparent;

  }

}